---
import Layout from '@layouts/Layout.astro';
import { info } from '@root/data.json';

export const prerender = false;

const post = info.find((poem) => {
    const fecha = new Date(poem.date).getDate();
    return fecha.toString() === '6';
});

if (post) {
    const availableDay = new Date(post?.date);
    const Today = new Date();
    if (availableDay > Today) {
        // return Astro.redirect('/espera-un-poco');
    }
}
---

<Layout title=`Te amo feliz cumpleaños mi julieta`>
    <div class='flex flex-row justify-between items-center mt-4'>
        <button class='text-xl mx-6' onclick='history.back()'>
            <img class='w-8 h-10 m-1' src='/svg/backArrow.svg' alt='back' />
        </button>
        <a
            class='text-lg bg-fuchsia-500 rounded-md p-2 hover:bg-fuchsia-700'
            href='/'>Volver al inicio</a
        >

        <a class='text-xl mx-6' href=`/dia/regalo-del-7`>
            <img
                class='w-8 h-10 m-1'
                src='/svg/forwardArrow.svg'
                alt='next page'
            />
        </a>
    </div>

    <div
        class='flex flex-col justify-center items-center gap-4 my-16 mx-4 content-center'
    >
        <main
            class='flex flex-col justify-center items-center gap-4 my-0 mx-auto bg-fuchsia-800/60 p-4 rounded-md md:w-4/6'
        >
            <h1 class='text-3xl'>Te amo mi julieta, feliz cumpleaños</h1>
            <div
                class='flex sm:flex-row-reverse flex-col justify-evenly sm:items-start items-center gap-2'
            >
                <p class='text-lg italic w-5/6 text-center text-balance'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Aspernatur laudantium maiores et nemo necessitatibus
                    voluptas facilis quae at temporibus, libero odit nulla enim
                    consectetur quis rem corrupti provident unde laboriosam!
                </p>
                <div
                    class='flex flex-col justify-center items-center gap-2 w-3/4 h-3/4'
                >
                    <img
                        class='lg:w-full lg:h-2/4 rounded-md'
                        src='/entrada.jpg'
                        alt='entrada a voz veis'
                    />
                    <a
                        class='text-lg bg-fuchsia-500 rounded-md p-2 hover:bg-fuchsia-700'
                        href='/concierto.pdf'
                        download='/concierto.pdf'>Descargar entrada</a
                    >
                </div>
            </div>
        </main>
    </div>
</Layout>
