---
import Layout from "@layouts/Layout.astro";

---

 <Layout title="Toca esperar">
<main class="flex flex-col items-center justify-center ">
<h1 class="text-6xl font-bold italic my-80">Aun no puedes abrir este regalo</h1>    +

</main>    
</Layout>