---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Toca esperar'>
    <main class='flex flex-col items-center justify-center mx-8'>
        <h1 class='text-6xl font-bold italic mt-40 mb-40'>
            Aun no puedes abrir este regalo
        </h1>
        <a
            class='text-lg bg-fuchsia-500 rounded-md p-2 hover:bg-fuchsia-700 mb-6 text-balance'
            href='/'>Volver al inicio</a
        >
    </main>
</Layout>
